.about {
  position: relative;
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: 1fr;
  align-items: center;
  @include breakpoint-up(small) {
    grid-template-columns: 1fr 1fr;
  }
  h2 {
    margin: auto;
    grid-row: 1;
    grid-column: 1;
    text-align: center;
    @include breakpoint-up(small) {
      grid-column: 1/3;
    }
  }
  .img-wrapper {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    grid-column: 1;
    grid-row: -12/-5;
    @include breakpoint-up(small) {
      grid-column: 2;
      grid-row: 4/11;
    }
    img {
      width: 75%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
    }
  }

  .about-text {
    margin: auto 5%;
    grid-column: 1;
    grid-row: 9/13;
    text-align: justify;
    font-weight: 500;
    @include breakpoint-up(small) {
      margin: auto 10%;
      grid-row: 4/11;
    }
  }
}
