.about {
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;

  @include breakpoint-up(large) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20vw;
  }

  h2 {
    margin: 1.5rem 0;
    text-align: center;
    @include breakpoint-up(large) {
      margin-left: 9rem;
    }
    @include breakpoint-up(xlarge) {
      margin-left: 12rem;
    }
    @include breakpoint-up(xxl) {
      margin-left: 15rem;
    }
  }
  .flippy-front,
  .flippy-back {
    box-shadow: none;
  }
  figure,
  .backfigure {
    width: 16rem;
    height: 24rem;
    margin: 0;
    padding: 0;
    position: relative;
    background-color: var(--bg-secondary);
    border-radius: 15px;
    box-shadow: 0 1rem 1rem 0.5rem;
    @include breakpoint-up(tablet) {
      min-width: 24rem;
      min-height: 30rem;
    }
    @include breakpoint-up(large) {
      min-width: 26rem;
      min-height: 36rem;
    }
    @include breakpoint-up(xlarge) {
      min-width: 28rem;
      min-height: 40rem;
    }
    @include breakpoint-up(xxl) {
      min-width: 30rem;
      min-height: 42rem;
    }

    .portrait {
      width: 80%;
      height: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -70%);
      border: 3px solid var(--bg-primary);
      border-radius: 50%;
      box-shadow: 0px 0px 25px 6px var(--text-primary);
    }
    figcaption {
      position: absolute;
      bottom: 10%;
      font-family: $font-primary;
      font-weight: 500;
      text-align: center;
      background-color: var(--text-primary);
      color: var(--bg-primary);
      opacity: 0.9;
      outline: none;
    }
  }
  .about-text {
    padding: 1rem;
    margin: 1rem;
  }
  button {
    width: 1.5rem;
    cursor: pointer;
    position: absolute;
    bottom: 3%;
    right: 5%;
    background-color: transparent;
    border-style: none;
    @include breakpoint-up(tablet) {
      width: 1.9rem;
    }
    @include breakpoint-up(large) {
      width: 2.4rem;
    }
    .toggle-arrow {
      path {
        fill: var(--text-primary);
        &:hover {
          fill: var(--special-one);
          animation: bounce 2s infinite;
          transition: fill 100ms ease-in-out;
        }
      }
    }
  }
}
