.contact {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(12, 1fr);
  h3 {
    width: 60%;
    grid-row: 1/4;
    margin: auto;
    padding: 0;
    text-align: center;
    font-weight: 500;
  }
  .buttons-container {
    width: 80%;
    margin: auto;
    grid-row: 5/9;
    ul {
      width: 100%;
      margin: 0;
      padding: 0;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      text-align: center;
      list-style: none;
      li {
        margin: 0.5rem 1rem;
        padding: 0;
        @include breakpoint-up(tablet) {
          margin: 1rem 1.5rem;
        }
      }
    }
    .social-button {
      width: 3rem;
      display: block;
      overflow: hidden;
      @include breakpoint-up(tablet) {
        width: 4rem;
      }
      @include breakpoint-up(large) {
        width: 5rem;
      }
      svg {
        path {
          fill: var(--text-secondary);
          &:hover {
            fill: var(--special-one);
            transition: fill 100ms ease-in;
          }
        }
      }
    }
  }
  button {
    grid-row: 10/12;
    background-color: transparent;
    border-style: none;
    width: 1.5rem;
    height: auto;
    position: absolute;
    bottom: -25%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    overflow: visible;

    @include breakpoint-up(large) {
      width: 2.5rem;
    }
    a {
      svg {
        path {
          fill: var(--text-primary);
          &:hover {
            fill: var(--special-one);
            animation: bounce 2s infinite;
            transition: fill 100ms ease-in-out;
          }
        }
      }
    }
  }
  footer {
    grid-row: 12/13;
    width: 100%;
    height: 2rem;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0;
    background-color: var(--text-primary);

    @include breakpoint-up(large) {
      height: 3rem;
    }
    p {
      margin: 0;
      padding: 0;
      font-family: $text-primary;
      font-size: $fluid-text;
      text-align: center;
      font-weight: 300;
      color: var(--bg-primary);
    }
  }
}
