//Need to style max width from text-area and max height

.contact {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  flex-flow: column wrap;
  background-color: $bg-primary;

  p {
    margin: 5rem 0 3rem 0;
    padding: 0;
    font-family: $font-primary;
    text-align: center;
    color: $text-primary;
  }
  form {
    background-color: rgba(47, 43, 40, 0.9);
    width: 18rem;
    min-height: 22rem;
    margin: 0 auto;
    border-radius: 1rem;
    box-shadow: 0 8px 8px -4px;
    backdrop-filter: blur(16px) saturate(180%);

    ul {
      margin: 1rem 1rem 0 1rem;
      padding: 0;
      li {
        list-style-type: none;
        padding: 1rem;

        label {
          font-family: "Montserrat", sans-serif;
        }
        input,
        textarea {
          width: 100%;
          font-family: "Montserrat", sans-serif;
        }
        textarea {
          height: 5rem;
          min-height: 2.5rem;
          max-height: 5rem;
          width: 14.375rem;
          min-width: 14.375rem;
          max-width: 14.375rem;
        }
        button {
          width: 100%;
          height: 2rem;
          background-color: $text-secondary;
          color: $bg-primary;
          font-weight: bolder;
          border-radius: 1rem;
          border-style: none;
          overflow: hidden;
          box-shadow: 0 8px 8px -4px;
          outline: none;
          cursor: pointer;

          &:hover {
            background-color: $bg-primary;
            color: $text-secondary;
            transition-property: color background-color;
            transition: 150ms ease;
          }
        }
        div {
          font-family: $font-primary;
          font-weight: 600;
          font-size: 0.9rem;
          color: $special-one;
          opacity: 0.8;
          width: 100%;
          margin: 0.5rem 0 0 0;
          padding: 0;
        }
        ::placeholder {
          font-family: $font-primary;
        }
      }
    }
  }
  footer {
    width: 100%;
    height: 2rem;
    background-color: $text-primary;
    position: absolute;

    bottom: 0;
    p {
      color: $bg-primary;
      margin: 0;
      padding: 0;
    }
  }
}
