//Need to style max width from text-area and max height

.contact {
  width: 100vw;
  height: 100vh;
  min-width: 20rem;
  min-height: 32rem;
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  flex-flow: column wrap;
  background-color: $bg-primary;

  .container {
    align-items: center;
    @include breakpoint-up(large) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
    }
    h3 {
      width: 18rem;
      margin: 2rem auto 2rem auto;
      padding: 0;
      font-family: $font-primary;
      font-size: 1.2rem;
      text-align: center;
      color: $text-primary;
      font-weight: 300;
      @include breakpoint-up(large) {
        width: 25rem;
        margin-top: 13rem;
        font-size: 1.6rem;
      }
      @include breakpoint-up(xxl) {
        width: 35rem;
        margin-top: 18rem;
        font-size: 2.7rem;
        text-align: right;
      }
    }
    form {
      width: 18rem;
      min-height: 19rem;
      margin: 0 auto;

      @include breakpoint-up(large) {
        width: 22rem;
        min-height: 25rem;
        margin-top: 7rem;
      }
      @include breakpoint-up(xxl) {
        width: 35rem;
        min-height: 30rem;
        margin-top: 6rem;
      }

      ul {
        margin: 1rem 1rem 0 1rem;
        padding: 0;
        li {
          list-style-type: none;
          padding: 1rem;

          label {
            font-family: "Montserrat", sans-serif;
          }
          input,
          textarea {
            width: 100%;
            margin: 0;
            padding: 0;
            font-family: "Montserrat", sans-serif;
            background-color: $bg-primary;
            border-style: none;
            border-bottom: 1px solid $text-primary;
            font-size: 1rem;
            outline: none;
            color: $text-primary;

            @include breakpoint-up(large) {
              font-size: 1.1rem;
            }
            @include breakpoint-up(xxl) {
              font-size: 1.3rem;
            }
          }
          input {
            @include breakpoint-up(large) {
              height: 1.5rem;
            }
            @include breakpoint-up(xxl) {
              height: 2rem;
            }
            &:focus {
              transform: scale(1.1);
              border-bottom: 2px solid $bg-tertiary;
              animation: transform 300ms ease-in;
            }
          }
          input:-webkit-autofill,
          input:-webkit-autofill:hover,
          input:-webkit-autofill:focus,
          textarea:-webkit-autofill,
          textarea:-webkit-autofill:hover,
          textarea:-webkit-autofill:focus,
          select:-webkit-autofill,
          select:-webkit-autofill:hover,
          select:-webkit-autofill:focus {
            -webkit-text-fill-color: $text-primary;
            -webkit-box-shadow: 0 0 0px 1000px $bg-primary inset;
            box-shadow: 0 0 0px 1000px $bg-primary inset;
            transition: background-color 5000s ease-in-out 0s;
          }
          textarea {
            height: 5rem;
            min-height: 2.5rem;
            max-height: 5rem;
            width: 14.375rem;
            min-width: 14.375rem;
            max-width: 14.375rem;
            margin: 0;
            padding: 0;
            @include breakpoint-up(large) {
              height: 6rem;
              min-height: 4rem;
              max-height: 7rem;
              width: 18.5rem;
              min-width: 18.5rem;
              max-width: 18.5rem;
            }
            @include breakpoint-up(xxl) {
              height: 19rem;
              min-height: 17rem;
              max-height: 21rem;
              width: 31.5rem;
              min-width: 31.5rem;
              max-width: 31.5rem;
            }
          }
          button {
            width: 100%;
            height: 2rem;
            background-color: $text-secondary;
            color: $bg-primary;
            font-weight: bolder;
            border-radius: 1rem;
            border-style: none;
            overflow: hidden;
            box-shadow: 0 8px 8px -4px;
            outline: none;
            cursor: pointer;
            @include breakpoint-up(large) {
              font-size: 1.1rem;
              height: 3rem;
            }
            @include breakpoint-up(xxl) {
              font-size: 1.5rem;
            }

            &:hover {
              background-color: $bg-tertiary;
              color: $text-secondary;
              transition-property: color background-color;
              transition: 150ms ease;
            }
          }
          div {
            width: 100%;
            margin: 0.5rem 0 0 0;
            padding: 0;
            font-family: $font-primary;
            font-weight: 600;
            font-size: 0.9rem;
            color: $special-one;
            opacity: 0.8;

            @include breakpoint-up(large) {
              font-size: 1.1rem;
            }
            @include breakpoint-up(xxl) {
              font-size: 1.4rem;
            }
          }
          ::placeholder {
            font-family: $font-primary;
            color: $bg-secondary;
            @include breakpoint-up(large) {
              font-size: 1.1rem;
            }
            @include breakpoint-up(xxl) {
              font-size: 1.3rem;
            }
          }
        }
      }
    }
  }
  a {
    svg {
      width: 2rem;
      height: 2rem;
      position: absolute;
      bottom: 10%;
      left: 50%;
      transform: translate(-10%, -50%);
      cursor: pointer;
      @include breakpoint-up(large) {
        width: 3rem;
        height: 3rem;
      }
      path {
        &:hover {
          fill: $special-one;
          animation: bounce 2s infinite;
          transition: fill 100ms ease-in-out;
        }
      }
    }
  }

  footer {
    width: 100%;
    height: 2rem;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0;
    background-color: $text-primary;

    @include breakpoint-up(large) {
      height: 3rem;
    }
    p {
      margin: 0.3rem 0 0 0;
      padding: 0;
      font-family: $font-primary;
      font-size: 1rem;
      text-align: center;
      font-weight: 300;
      color: $bg-primary;

      @include breakpoint-up(large) {
        font-size: 1.4rem;
      }
      @include breakpoint-up(xxl) {
        font-size: 1.6rem;
      }
    }
  }
}
