html {
  box-sizing: initial;
  font-size: 100%;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  width: 100vw;
  height: 100vh;
  min-width: 20rem;
  min-height: 32rem;
  margin: 0;
  padding: 0;
  background-color: $bg-primary;
  #root {
    width: 100vw;
    height: 100vh;
    min-width: 19.99rem;
    min-height: 32rem;
    max-width: 100%;
    overflow-x: hidden;
  }
}
.special {
  color: $special-one;
}
