.home {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  text-align: center;

  h1 {
    margin-top: 35vh;
    font-weight: 200;
    letter-spacing: 4px;
  }
  h3 {
    font-weight: 300;
  }
  button {
    background-color: transparent;
    border-style: none;
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-20%, -50%);
    cursor: pointer;
    @include breakpoint-up(large) {
      width: 2.5rem;
      height: 2.5rem;
    }
    a {
      svg {
        path {
          fill: var(--text-primary);
          &:hover {
            fill: var(--special-one);
            animation: bounce 2s infinite;
            transition: fill 100ms ease-in-out;
          }
        }
      }
    }
  }
}
