.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(12, 1fr);
  h2 {
    margin: auto;
    grid-row: 1;
    grid-column: 1/3;
    text-align: center;
  }
  .projects-wrapper {
    width: 70%;
    padding: 1rem;
    margin: 0 auto;
    grid-column: 1/3;
    grid-row: 2/12;

    @include breakpoint-up(small) {
      grid-row: 2/12;
    }
    .link-target {
      width: 100%;
      height: 40%;
      margin: auto;
      display: block;
      grid-column: 1/3;
      color: var(--text-secondary);
    }
    .title {
      margin: auto;
      font-size: $fluid-big;
      text-align: center;
      font-family: $font-primary;
      font-weight: 700;
      cursor: pointer;
      &:hover {
        transform: scale(1.035);
      }
    }
    .description {
      margin: auto;
      font-size: $fluid-text;
      text-align: center;
      font-family: $font-primary;
      font-weight: 700;
      cursor: default;
    }
  }
  #link-1 {
    grid-column: 1/3;
    @include breakpoint-up(large) {
      &:hover {
        background-image: url("assets/crowfund-bg.png");
        background-repeat: no-repeat;
        background-size: 100%;
        overflow: visible;
      }
    }
  }
  #link-2 {
    grid-column: 1/3;
    @include breakpoint-up(large) {
      &:hover {
        background-image: url("assets/easybank-bg.png");
        background-repeat: no-repeat;
        background-size: 100%;
      }
    }
  }
  #link-3 {
    grid-column: 1/3;
    @include breakpoint-up(large) {
      &:hover {
        background-image: url("assets/form-bg.png");
        background-repeat: no-repeat;
        background-size: 100%;
      }
    }
  }
  .projects-wrapper:hover > div div {
    filter: blur(5px) opacity(60%);
    transition: all 0.2s ease;
  }

  .projects-wrapper div:hover div {
    color: var(--special-one);
    text-shadow: 1px 1px black;
    filter: blur(0px) opacity(100%);
    transition: all 0.2s ease;
  }
}
