.projects {
  width: 100vw;
  height: 100vh;
  display: grid;
  margin: 0;
  padding: 0;
  background-color: $special-three;
  h2 {
    font-family: "Montserrat", sans-serif;
    color: $bg-secondary;
    text-align: center;
  }
  .project-box {
    width: 80%;
    height: 150px;
    margin-left: 10%;
    text-align: center;
    border-radius: 15px;
    overflow: hidden;
    background: $text-primary;
    box-shadow: 0 8px 8px -4px;
    background-position: top;
    background-size: 150%;
  }
}
