.skills {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(12, 1fr);
  h2 {
    margin: auto;
    text-align: center;
    grid-column: 1/3;
    grid-row: 1;
    .special-bg {
      color: var(--special-one);
      opacity: 0.35;
    }
    @include breakpoint-up(small) {
      grid-column: 1;
      grid-row: 4/11;
    }
    @include breakpoint-up(tablet) {
      grid-row: 5/9;
    }
  }
  .content-wrapper {
    width: 80%;
    max-height: 90%;
    margin: auto;
    grid-column: 1/3;
    grid-row: 2/11;
    display: flex;
    flex-flow: column wrap;
    align-items: center;

    @include breakpoint-up(small) {
      grid-column: 2;
      grid-row: 1/13;
    }
    @include breakpoint-up(xlarge) {
      width: 60%;
    }
    .skills-container {
      width: 100%;
      height: 100%;
      background-color: hsla(26, 8%, 17%, 0.9);
      border: 0.2px inset $text-primary;
      border-radius: 0 0 5px 5px;
      overflow: hidden;
      box-shadow: 0 8px 8px -4px;
      @include breakpoint-up(small) {
        overflow: scroll;
        overflow-x: hidden;
      }

      &:hover {
        transform: scale(1.05);
        transition: transform 250ms ease-in-out;
      }
    }
    .file-name {
      width: 40%;
      max-width: 100px;
      max-height: 35px;
      padding: 0.5rem;
      position: relative;
      display: flex;
      justify-content: space-between;
      color: hsla(21, 35, 92, 1);
      background-color: hsla(20, 7%, 8%, 0.9);
      text-align: left;
      font-size: $fluid-text;
      @include breakpoint-up(tablet) {
        padding: auto;
      }
      @include breakpoint-up(large) {
        max-width: none;
        width: 120px;
      }
      @include breakpoint-up(xlarge) {
        width: 150px;
      }
      .text {
        font-size: $fluid-text;
        line-height: 1.5rem;
      }
      .x {
        font-size: $fluid-text-s;
      }
    }
    pre {
      margin: 0 0 0 15%;
      ul {
        margin: 0;
        li {
          margin: 0;
          padding: 0;
          list-style: none;
          font-size: $fluid-text;
          color: hsla(21, 35, 92, 1);
          ul {
            margin: 0 10px;
            padding: 0;
          }
        }
        span {
          color: hsla(141, 45, 81, 1);
        }
      }
    }
  }
}
