.skills {
  width: 100vw;
  height: 100vh;
  min-width: 20rem;
  min-height: 32rem;
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: $bg-primary;
  h2 {
    margin: 5rem 0 3rem 0;
    width: 18rem;
    text-align: center;
    font-family: $font-primary;
    letter-spacing: 5px;
    color: $text-primary;
    @include breakpoint-up(large) {
      font-size: 2.2rem;
      @include breakpoint-up(xlarge) {
        font-size: 3rem;
      }
    }

    &::after {
      content: "/>";
      position: absolute;
      top: 2.2rem;
      right: 2.8rem;
      color: $special-one;
      font-size: 6rem;
      opacity: 0.15;
      @include breakpoint-up(medium) {
        right: 25%;
      }
      @include breakpoint-up(large) {
        right: 25%;
        top: 0;
        font-size: 10rem;
      }
      @include breakpoint-up(xlarge) {
        font-size: 12rem;
      }
      @include breakpoint-up(xxl) {
        right: 30%;
        top: -5%;
        font-size: 15rem;
      }
    }
    &::before {
      content: "<";
      position: absolute;
      top: 2.2rem;
      left: 3.2rem;
      color: $special-one;
      font-size: 6rem;
      opacity: 0.15;
      @include breakpoint-up(medium) {
        left: 25%;
      }
      @include breakpoint-up(large) {
        left: 25%;
        top: 0;
        font-size: 10rem;
      }
      @include breakpoint-up(large) {
        font-size: 12rem;
      }
      @include breakpoint-up(xxl) {
        left: 30%;
        top: -5%;
        font-size: 15rem;
      }
    }
  }
  .content-wrapper {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    @include breakpoint-up(large) {
      width: 60%;
      margin-top: 3rem;
      flex-flow: row;
      justify-content: space-between;
    }
    @include breakpoint-up(xxl) {
      width: 50%;
    }
    .skills-container {
      width: 15.625rem;
      height: 20rem;
      background-color: hsla(26, 8%, 17%, 0.9);
      border: 0.2px inset $text-primary;
      border-radius: 0 0 5px 5px;
      overflow: hidden;
      box-shadow: 0 8px 8px -4px;
      @include breakpoint-up(large) {
        width: 18rem;
        height: 24rem;
      }
      &:hover {
        transform: scale(1.05);
        transition: transform 250ms ease-in-out;
      }
    }
    .file-name {
      width: 6.25rem;
      height: 2rem;
      position: relative;
      padding-left: 5px;
      padding-top: 8px;
      color: $text-primary;
      background-color: hsla(20, 7%, 8%, 0.9);
      text-align: left;
      @include breakpoint-up(large) {
        width: 7rem;
        height: 2.2rem;
        font-size: 1.3rem;
      }
    }
    .file-name::before {
      content: "╳";
      width: 2.5rem;
      height: 2.5rem;
      display: block;
      position: absolute;
      top: 0.625rem;
      left: 5.625rem;
      color: $text-primary;
      cursor: pointer;
      font-size: 7.5px;
      @include breakpoint-up(large) {
        width: 3.5rem;
        height: 3.5rem;
        left: 6.5rem;
      }
    }
    pre {
      ul {
        li {
          margin: 0;
          padding: 0;
          list-style: none;
          color: $text-primary;

          @include breakpoint-up(medium) {
            font-size: 1rem;
          }
          @include breakpoint-up(large) {
            font-size: 1.125rem;
          }
          ul {
            margin: 0 10px;
            padding: 0;
          }
        }
        span {
          color: $bg-secondary;
        }
      }
    }
    a {
      svg {
        margin-top: 1.5rem;
        width: 2rem;
        @include breakpoint-up(large) {
          width: 5rem;
        }
        path {
          &:hover {
            fill: #ff6b7a;
            transition: fill 100ms ease-in;
          }
        }
      }
    }
  }
}
