//--COLORS--

//Light

$bg-primary: hsla(21, 35, 92, 1);
$bg-secondary: hsla(60, 12, 60, 1);
$bg-tertiary: hsla(37, 79, 75, 1);
$text-primary: hsla(159, 56, 7, 1);
$text-secondary: hsla(155, 43, 18, 1);
$special-one: hsla(354, 100, 71, 1);

//Dark

$bg-primary-dark: hsla(159, 56, 7, 1);
$bg-secondary-dark: hsla(155, 43, 18, 1);
$bg-tertiary-dark: hsla(336, 41, 26, 1);
$text-primary-dark: hsla(21, 35, 92, 1);
$text-secondary-dark: hsla(270, 14, 78, 1);
$special-one-dark: hsla(354, 100, 71, 1);

//Themes
.theme {
  &.light {
    --bg-primary: #{$bg-primary};
    --bg-secondary: #{$bg-secondary};
    --bg-tertiary: #{$bg-tertiary};
    --text-primary: #{$text-primary};
    --text-secondary: #{$text-secondary};
    --special-one: #{$special-one};
  }

  &.dark {
    --bg-primary: #{$bg-primary-dark};
    --bg-secondary: #{$bg-secondary-dark};
    --bg-tertiary: #{$bg-tertiary-dark};
    --text-primary: #{$text-primary-dark};
    --text-secondary: #{$text-secondary-dark};
    --special-one: #{$special-one-dark};
  }
}

//Fonts
$font-primary: "Cairo", sans-serif;
$font-secondary: "Biryani", sans-serif;

//Font sizes
h1 {
  --minFontSize: 20px;
  --maxFontSize: 85px;
  --scaler: 8vw;
  font-size: clamp(var(--minFontSize), var(--scaler), var(--maxFontSize));
}
h2 {
  --minFontSize: 16px;
  --maxFontSize: 70px;
  --scaler: 8vw;
  font-size: clamp(var(--minFontSize), var(--scaler), var(--maxFontSize));
}
h3 {
  --minFontSize: 12px;
  --maxFontSize: 32px;
  --scaler: 5vw;
  font-size: clamp(var(--minFontSize), var(--scaler), var(--maxFontSize));
}
p,
figcaption,
li {
  --minFontSize: 14px;
  --maxFontSize: 22px;
  --scaler: 2vw;
  font-size: clamp(var(--minFontSize), var(--scaler), var(--maxFontSize));
}
$fluid-bg: clamp(48px, 7vw, 172px);
$fluid-text: clamp(14px, 2vw, 24px);
