//COLORS
$bg-primary: hsla(159, 56, 7, 1);
$bg-secondary: hsla(141, 45, 81, 1);
$bg-tertiary: hsla(336, 41, 26, 1);
$text-primary: hsla(21, 35, 92, 1);
$text-secondary: hsla(270, 14, 78, 1);
$text-tertiary: hsla(0, 0, 99, 0.7);
$special-one: hsla(354, 100, 71, 1);
$special-two: hsla(193, 35, 36, 1);
$special-three: hsla(194, 36, 17, 1);
$font-primary: "Roboto", sans-serif;
$font-secondary: "Biryani", sans-serif;
