//COLORS
$bg-primary: hsla(242, 25, 20, 1);
$bg-secondary: hsla(287, 39, 20, 1);
$bg-tertiary: hsla(266, 33, 20, 0.5);
$special-one: hsla(201, 47, 20, 1);
$special-two: hsla(195, 54, 78, 1);
$special-three: hsla(340, 18, 87, 1);
$text-primary: hsla(0, 0%, 100%, 0.9);
$text-secondary: hsla(54, 91, 86, 0.7);
$text-tertiary: hsla(89, 60, 83, 1);
