.work-and-studies {
  position: relative;
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: 1fr 1fr;
  h3 {
    margin: auto;
    text-align: center;
    grid-column: 1/3;
  }
  h3:nth-of-type(1) {
    grid-row: 1;
  }
  h3:nth-of-type(2) {
    grid-row: 6/8;
    @include breakpoint-up(small) {
      margin: auto 10%;
      grid-row: 6/10;
      grid-column: 1;
      text-align: right;
    }
  }
  p {
    width: 90%;
    height: auto;
    margin: auto;
    padding: 0;
    grid-row: 2/4;
    grid-column: 1/3;
    text-align: justify;
    @include breakpoint-up(large) {
      width: 70%;
    }
  }
  a {
    margin: auto;
    grid-row: 5/6;
    grid-column: 1/3;
    @include breakpoint-up(small) {
      position: absolute;
      left: 1%;
      bottom: 30%;
      grid-row: 3;
      grid-column: 1;
      transform: rotateZ(270deg);
    }
    button {
      background-color: transparent;
      color: var(--text-primary);
      border: 2px solid var(--special-one);
      font-family: $font-primary;
      font-size: $fluid-text;
      font-weight: 700;
      outline: none;
      cursor: pointer;
      &:hover {
        background-color: var(--special-one);
        border: 2px solid var(--bg-secondary);
        transition: all 100ms ease-in;
      }
    }
  }
}
ul {
  margin: auto;
  padding: 0;
  grid-row: 7/13;
  grid-column: 1/3;
  overflow: hidden;
  @include breakpoint-up(small) {
    grid-row: 4/13;
    grid-column: 2;
  }

  li {
    i {
      margin: auto 0.5rem;
      color: var(--special-one);
      font-size: $fluid-text;
      &:hover {
        transform: scale(1.25);
        transition: transform 150ms ease-in;
      }
    }
  }
}
